<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %> 
<body>
    <%- include('partials/navbar')  %> 

    <h1>Você tem <%= produtos.length  %> itens no seu carrinho</h1>

    
        <div class="container">
            <div class="row align-items-start">
                
                <% for(produto of produtos){%>
                    <div class="col">
                        <div class="card" style="width: 16rem;">
                            <img src="<%= produto.imagem  %> " class="card-img-top img-thumbnail img-venda" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><%= produto.nome %> </h5>
                                <p class="card-text preco"><%= produto.preco %> </p>
                                <a href="/confirmacaoVenda?q=<% produto.nome %>&l=<%= produto.imagem%>&p=<%= produto.preco %>" class="btn btn-danger btn-comprar btnCarrinho">Comprar</a>
                            </div>
                        </div>
                    </div>
                <%}%>  
            </div>
        </div>
    
</body>